.footer,
.mybtn2,
.join-section::before,
.Testimonial-section .owl-carousel .owl-nav button.owl-next:hover,
.Testimonial-section .owl-carousel .owl-nav button.owl-prev :hover,
.Testimonial-section::before,
.features-section .features-item:hover,
.section-title .title::before,
.home-section,
.header {
    background-color: #3a04dc;
}

.footer .footer-social-links a:hover i,
.contact-section .contact-item p,
.contact-section .contact-item .icon i,
.Testimonial-section .owl-carousel .owl-nav button.owl-next,
.Testimonial-section .owl-carousel .owl-nav button.owl-prev,
.Testimonial-section .client-info h5,
.products-section .product-content .product-price .new-price,
.section-title .title,
.mybtn1:hover,
.mybtn1 {
    color: #471bf6;
}

.Testimonial-section .client-info img {
    border-color: #471bf6;
}

@media(max-width: 911px) {
    .header .navbar #collapsibleNavbar .nav-item .nav-link {
        color: #471bf6;
    }
}